DEVELOPMENT_GUIDE.md
04072213019_Ghulam_Mujtaba_FYP_1_AI_Based_EMR _Pathology_Report_Management _System.pdf
detail.txt
STEP_BY_STEP_IMPLEMENTATION_GUIDE.md
*.md
venv/
__pycache__/
ilovepdf_images-extracted/
.env
test_*
uploads/
PHASE_6_SETUP.txt
verify_ai_migration.py
reset_db.py
verify_databases.py
extracted_images/
correct/
train-00000-of-00001.parquet
run_batch_test.py
check_img_info.py
check_ocr_runs.py
check_latest_uploads.py
test_llama4_vision_new.py
documentation/
deepseek_ocr2_results/
ocr_outputs/
Untitled11.ipynb
benchmark_results.json
check_progress.py
copy_all_images.py
debug_registration.py
DeepSeek_OCR_2_T4_Benchmark.ipynb
documentation (1).zip
documentation.pdf
documentation_extracted.txt
extract_pdf.py
filter_38_images.py
generate_docx_report.py
ocr_benchmark_colab.py
ocr_outputs.zip
organize_best_worst.py
mobile_flutter/
frontend-react/